<%= render "layouts/errors", :object => @blogpost %>

<%= form_for @blogpost do |f| %>
	<div class="form-group">
		<%= f.label :blog_title %>	
		<%= f.text_field :blog_title %>
	</div>
	
	<div class="form-group">
		<%= f.label :body %>	
	</div>
	<div class="form-group">
		<%= f.text_area :body, size: "150x20" %>
	</div>

	<%= f.submit %>
<% end %>
