<%= render "layouts/errors", :object => @job %>

<div class="container" id="job_post">
<%= form_for @job do |f| %>
	<div class="form-group">
		<%= f.label :job_title %>	
		<%= f.text_field :job_title %>
	</div>
	<div class="form-group">
		<%= f.label :company_name %>	
		<%= f.text_field :company_name %>
	</div>
	
	<div class="form-group">
		<%= f.label :description %>	
	</div>
	<div class="form-group">
		<%= f.text_area :description, size: "40x6" %>
	</div>
	
	<div class="form-group">
		<%= f.label :requirements %>	
	</div>
	<div class="form-group">
		<%= f.text_area :requirement, size: "40x6" %>
	</div>

	<div class="form-group">
		<%= f.label :email %>	
		<%= f.text_field :email %>
	</div>

	<%= f.submit %>
<% end %>
