<%= render "layouts/errors", :object => @site %>

<%= form_for @site, html: { multipart: true } do |f| %>
	<div class="form-group">
		<%= f.label :site_name %>
		<%= f.text_field :site_name %>
	</div> <br>
	<div class="form-group">
		<%= f.label :description , "Link to Original Site" %>
		<%= f.text_field :description %>
	</div> <br>
	<div class='form-group'>
    	<%= f.label :tag_list, 'Tags (separated by commas)' %><br/>
    	<%= f.text_field :tag_list %>
	</div> <br>
	<div class='form-group'>
    	<%= f.label :images %>
		<%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
		<%= f.hidden_field :images_cache %>
		
		<% if @site.images?%>
			<% @site.images.each do |image| %>
		 		<%= image_tag image.url.to_s %>
			<% end %>
		<% end %>

	</div>
	<%= f.submit %>
<% end %>