<!DOCTYPE html>
<html>
  <head>
    <title>Revamp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    
  <body>

  <div class="row">
         <div id="logo">
           <a href="index.html"><img src="logos.png"></a>
         </div>
               
       <ul class="mainNav">
         <li class="active"><a href="/">Home</a></li>
          <li><%= link_to 'Sites', sites_path  %></li>
          <li><%= link_to 'Blogs', blogposts_path  %></li>
          <li><%= link_to 'Jobs', jobs_path  %></li>
          <li><%= link_to 'Contacts', contacts_path  %></li>    
       </ul>

        
     </div>    
     
  
    <%= yield %>

    
    

  </body>
  
</html>
